<div class="bg-white p-0">
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only" data-lang-key="loading">Loading...</span>
    </div>
  </div>

  <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
      <%= link_to root_path, class: "navbar-brand p-0" do %>
        <h1 class="text-primary m-0" data-lang-key="brand-name">
          <i class="fa fa-utensils me-3"></i>La Cuptoraș
        </h1>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
          <%= link_to "Acasă", root_path, class: "nav-item nav-link", data: { lang_key: "home" } %>
          <%= link_to "Despre Noi", about_path, class: "nav-item nav-link", data: { lang_key: "about-us" } %>
          <%= link_to "Meniu", menu_path, class: "nav-item nav-link", data: { lang_key: "menu" } %>
          <%= link_to "Contacte", contact_path, class: "nav-item nav-link active", data: { lang_key: "contact" } %>
        </div>

        <div class="language-switcher">
          <button id="lang-ro" class="active" type="button">RO</button>
          <button id="lang-ru" type="button">RU</button>
        </div>
      </div>
    </nav>

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
      <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown" data-lang-key="contact-hero-title">Contacți-ne</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
            <li class="breadcrumb-item"><%= link_to "Acasă", root_path, data: { lang_key: "home-breadcrumb" } %></li>
            <li class="breadcrumb-item text-white active" aria-current="page" data-lang-key="contact-breadcrumb">Contacte</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal" data-lang-key="contact-section-title">Contacți-ne</h5>
        <h1 class="mb-5" data-lang-key="contact-form-intro">Pentru orice întrebări, completați formularul</h1>
      </div>

      <div class="row g-4">
        <div class="col-12">
          <div class="row gy-4">
            <div class="col-md-4">
              <h5 class="section-title ff-secondary fw-normal text-start text-primary" data-lang-key="reservations-title">Rezervări</h5>
              <p><i class="fa fa-envelope-open text-primary me-2"></i>+373 079 760 326</p>
            </div>

            <div class="col-md-4">
              <h5 class="section-title ff-secondary fw-normal text-start text-primary" data-lang-key="catering-title">Catering</h5>
              <p><i class="fa fa-envelope-open text-primary me-2"></i>+373 079 760 326</p>
            </div>

            <div class="col-md-4">
              <h5 class="section-title ff-secondary fw-normal text-start text-primary" data-lang-key="complaints-title">Plângeri</h5>
              <p><i class="fa fa-envelope-open text-primary me-2"></i>la.cuptoras@mail.ru</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
          <iframe
            class="position-relative rounded w-100 h-100"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATcMoaptumwsgNNFVmNgIxZU5FWzHlgUU&q=Bd.+Dacia+13,+Chi%C8%99in%C4%83u,+Republica+Moldova"
            frameborder="0"
            style="min-height: 350px; border: 0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0">
          </iframe>
        </div>

        <div class="col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <form>
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                    <label for="name" data-lang-key="your-name-label">Your Name</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                    <label for="email" data-lang-key="your-email-label">Your Email</label>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                    <label for="subject" data-lang-key="subject-label">Subject</label>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                    <label for="message" data-lang-key="message-label">Message</label>
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit" data-lang-key="send-button">Trimiteți</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-4 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4" data-lang-key="footer-brand-name">La Cuptoraș</h4>
          <%= link_to "Despre Noi", about_path, class: "btn btn-link", data: { lang_key: "footer-about-us" } %>
          <%= link_to "Contacte", contact_path, class: "btn btn-link", data: { lang_key: "footer-contact" } %>
          <a class="btn btn-link" href="#" data-lang-key="privacy-policy">Politica Confidențialității</a>
          <a class="btn btn-link" href="#" data-lang-key="terms-conditions">Termeni și Condiții</a>
        </div>

        <div class="col-lg-4 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4" data-lang-key="footer-contacts-title">Contacte</h4>
          <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Bd. Dacia 13, Chișinău, Republica Moldova</p>
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+373 079 760 326</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i>la.cuptoras@mail.ru</p>

          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4" data-lang-key="opening-hours-title">Orele de lucru</h4>
          <h5 class="text-light fw-normal" data-lang-key="weekdays">Luni - Vineri</h5>
          <p>11:00 - 16:00</p>
          <h5 class="text-light fw-normal" data-lang-key="weekends">Sâmbăta - Duminica</h5>
          <p data-lang-key="days-off">Zile de odihnă</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            © <a class="border-bottom" href="#" data-lang-key="copyright-text">La cuptoraș 2025</a>,
            <span data-lang-key="all-rights-reserved">Toate drepturile rezervate.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
  </a>
</div>