<!DOCTYPE html>
<html>
<head>
  <title>La Cuptoraș</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "style", media: "all" %>
  <%= javascript_include_tag "main" %>
</head>
<body>
  <%= yield %>
</body>
</html>
